@font-face {
  font-family: 'SegoeUI';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAB6UABAAAAAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAeeAAAABwA
AAAcdqss8UdERUYAAB5YAAAAHQAAACAAQAAET1MvMgAAAdwAAABCAAAAYHSUVMNjbWFwAAACSAAA
AHwAAAGiQYNJkmN2dCAAAAUwAAAALgAAAC4RlxarZnBnbQAAAsQAAAGxAAACZQ+0L6dnYXNwAAAe
UAAAAAgAAAAI//8AA2dseWYAAAWIAAAWTQAAKUw9N2E6aGVhZAAAAWwAAAAwAAAANhClPXhoaGVh
AAABnAAAAB0AAAAkEGkG0mhtdHgAAAIgAAAAJwAAADATcQg8bG9jYQAABWAAAAAoAAAAKEJ0VLht
YXhwAAABvAAAACAAAAAgArsU6G5hbWUAABvYAAACDAAABIwYaPEXcG9zdAAAHeQAAABpAAAAwITM
iMxwcmVwAAAEeAAAALYAAAFnkJRth3jaY2BkYGBgZHAUCLhcHM9v85VBnoMBBK7s+BmKoP+d5WBg
OwzkcjAwgUQBTZ4MCnjaY2BkYOBI+3cWSDIwMPz/DySBIiiAFQBu+QRPAAAAAAEAAAATBkABkAAA
AAAAAgABAAIAFgAAAQAOpAAAAAB42mNgZl/KOIGBlYGD1ZjlLAMDwywIzXSWQRvMB0phB6He4X4M
DgwKD06ynf13lnEWRxqjMVCYEUmJAgMjAJP1DRUAAHjaY1zFAAZMQJopkIGBg4HhLJB7BkiC4Bkg
5ILwGIEyzMYA1fsKvwB42mNgYGBmgGAZBkYGEJgD5DGC+SwMDWBaACjCw6DwgPEB8wO2BxIPFB8Y
PLB74PbA40Hog9gHJ///B6qCyLICZRXgsiEQ2f+PFZgVmBQY5T/Iv5S/LX9O/rj8Mfnd8lvkPaE2
4gSMbAxwJYxMQIIJXQHE6cMZAAAJOSqEeNpdUbtOW0EQ3Q0PA4HE2CA52hSzmZAC74U2SCCuLsLI
dmM5QtqNXORiXMAHUCBRg/ZrBmgoU6RNg5ALJD6BT4iUmTWJojQ7O7NzzpkzS8qRqndpveepcxZI
4W6DZpt+J6TaRYAH0vWNRkbawSMtNjN65bp9v4/BZjTlThpAec9bykNG006gFu25fzI/g+E+/8s8
B4OWZpqeWmchPYTAfDNuafA1o1l3/UFfsTpcDQaGFNNU3PXHVMr/luZcbRm2NjOad3AhIj+YBmhq
rY1A0586pHo+jmIJcvlsrA0mpqw/yURwYTJd1VQtM752cJ/sLDrYpEpz4AEOsFWegofjowmF9C2J
MktDhIPYKjFCxCSHQk45d7I/KVA+koQxb5LSzrhhrYFx5DUwqM3THL7MZlPbW4cwfhFH8N0vxpIO
PrKhNkaE2I5YCmACkZBRVb6hxnMviwG51P4zECVgefrtXycCrTs2ES9lbZ1jjBWCnt823/llxd2q
XOdFobt3VTVU6ZTmQy9n3+MRT4+F4aCx4M3nfX+jQO0NixsNmgPBkN6N3v/RWnXEVd4LH9lvNbOx
FgAAAHjaRc49DoJAEAXgXf7/WWCx0gTrvYbY0BgrSLyCra02lnqWwcrb6YsZl26+N8m8ecvPneRD
DBQdxlnK5zTvAzNuSU0D6SOG27ShwJxGQaLryTU7kl3/EqFjfnAA+YcLOGeGB7ia4QOeYgSAXzBC
ILgyIiBMGTEQJYwEiBmSUn4lQ5qifXb3FzAHs4UFmJeWJVjklgosM8sKVIllDVZrywasl8sabGLL
FtTLdgW2lhNp8wWQx2DTAAAAUgYAAGYAcQDNAQoBKQEzAZABmgAqAFIGAQDNASEBRAFwAZoBuAJn
AroF/wArAAAAAABKAEoASgBKAIoAogEGAWoBygImAqADAhI+EsgTKBOaFB4UShSmeNrtWnl0FEW3
r7v1ZGcm2xDInpAAASZkshDJBHBlF2NQUASUSABREFEjICKiokIABQyLuKGgIHYDKiAqKCpqglEx
IKIsojKKgoqICsOr7uj3+Z2j57zzzvvnncfM6XRXp+r3q1t1695fT5cSpT+wCgcqVKLCVKRqoXor
M8pnUUTQjPRZ0RFBMN0+M6rJgsSgCW7LBXlWi8Sg5dFnF3hiX0BiIyIy21uqrEjSZVDiCgvX5fzO
cZ4Sysgt8XpcJRnkyfDkzauBzHmt5q2aF/r8fE3LoX57zqhPcvfAunV7Tn+MA0+v0t1RDWf8Rr34
VYJqr0zls6IgaB9gJvpMo8nyJASdwwt5yopSnljT0Fxi5GZTTlFhSWyb4nRvKsS6XSgGNSypDR2c
EghMgvRaKJwzu3FS2e2hg7UNUD5Z31m8pBZSbg8EyhpDh0L1c0L7J5Vrfv0JU2qkIuVVJuqxwKB9
gMk+SzRpfuc2CRlFYeqkGjnSrlWv+9sghSpCuVWO6q7MWJ8FrqBp+KwYDNqjmezSrXN9JjVZmXFB
q60eu0w9VqZHD1qMoS8SS80oj+XNLNWWZBcU5xbmuDJdRjxkebz+ktj03E6Abtsyf4GX4xIT4rVt
NHvaFTCoR/eOHSHiQLs57TqEts+ZWz9JW5o2Z+kjtZB2WyAwJfTFyLK8vDJITaukoaGR9fWnGgLl
9ZAKXWohdXKgfFLooF05tO9W7QENjh32uLdVPmWm65EP0/1u5zOzm6ywFkEzzG25ddeTY4JWe312
h3lirbT00lI9IirTBzktwIj3QmJBCRQX6qIL4hLt7rrR4PTsnGYLaEJ61NbU5PyICMiLSY7GrKio
Ym9y6MIBS50eTdqhZ2J76NAOx5BamBW1OTXFF5EeEfo0IgKTwjPDi+OTQwNoCZTZfW+uOmkHJEOX
Obp9mfqLHZGqQKUoMP0+UzVZ0Z6gVah7Ha09xvJ0cnoNhTnpLiMhPtFfUAwJLcDryjWyXFm5mbmu
3JKcktyiksIS7b/F3hK/t8Bb4nUlesW/M9RUPapx/oKdsLih3ZA1GwKRPQ/0bNXxjeUVadDQkFqx
fGMgXt+RfmvWDEmLQP9DO8eMeWj+hzuBDlSUv65rNTSkVSzfEEjQleIDz6/5o9majYEIZzn+q/9Z
qqfj/3Ha/+Ns/8/2mTFNljc+uNYbE5G3rrs3PTxvbYzXvozh8DyrjTbPG+OJXRvRqnWpNtCKs1dH
mr06MnNzAlBSrL9FnSAAhSV6kSSmQLzhSvAmsjch3siFwYG2ucldH65beW7PEVXQYURV3+4Vl0LL
G/t2b8jJ6b7CFd21bPws3/yBjQuuraqqWthYsbjDLL9/qndFj7560fx7HYhKVB3sONLSZ7k4aMb4
rEzW3e/oM1OarLjooBnntiJ1X9tGB61O+hwZp+OGQIy3ZaYTR2JcdlxRkckpbZ04AlQS18ar0rNL
it2Y7cpkl+GNj9U3/nZdLDn11CbI6XJ6NxQA9+5bFzpVp4++fbFuGrz094sEhsOScaFdg7eGcuum
T4d84Dpde/qiRaFTvUNf/9OKsX3tT5sjVYYqVma0T4clOzRpczN9ZmyTlRIVdI4sbWdKrHY9EHtm
vNH6EsPs9R4O3nAoCYfccHD9g0mDQ8cnQhRETQwdd/7oIib/vSnod+r+R4Pfj/+zCTBXRYR2uU4Y
b+gZdDkZIE7HvdYqTftfrsrTkcCvSlRX1U2dpy5SfdTF6lJ1ubpSDVMjVLW6To1TN6lb1WR1h7pL
3aseUHPUQ+phtUQ9qp5UK9Qq9bxap15SL6vX1BvqbfWeel99pHapT9U+9YX6Wn2rjqqf1C/qd3UG
CFwQCS0gDrzQGtIgC3IhD3zghxLoCt3gPLgI+sDFcClcDlfCMBgB1XAdjIOb4FaYDHfAXXAvPABz
4CF4GJbAo/AkrIBV8Dysg5fgZXgN3oC34T14Hz6CXfAp7IMv4Gv4Fo7CT/AL/A5nkNCFkdgC49CL
rTENszAX89CHfizBrtgNz8OLsA9ejJfi5XglDsMRWI3X4Ti8CW/FyXgH3oX34gM4Bx/Ch3EJPopP
4gpchc/jOnwJX8bX8A18G9/D9/Ej3IWf4j78Ar/Gb/Eo/oS/4O94hohcFEktKI681JrSKItyKY98
5KcS6krd6Dy6iPrQxXQpXU5X0jAaQdV0HY2jm+hWmkx30F10Lz1Ac+ghepiW0KP0JK2gVfQ8raOX
6GV6jd6gt+k9ep8+ol30Ke2jL+hr+paO0k/0C/1OZ5jYxZHcguPYy605jbM4l/PYx34u4a7cjc/j
i7gPX8yX8uV8JQ/jEVzN1/E4volv5cl8B9/F9/IDPIcf4od5CT/KT/IKXsXP8zp+iV/m1/gNfpvf
4/f5I97Fn/I+/oK/5m/5KP/Ev/DvfEZIXBIpLSROvNJa0iRLciVPfOKXEukq3eQ8uUj6yMVyqVwu
V8owGSHVcp2Mk5vkVpksd8hdcq88IHPkIXlYlsij8qSskFXyvKyTl+RleU3ekLflPXlfPpJd8qns
ky/ka/lWjspP8ov8LmcMMlxGpNHCiDO8Rmsjzcgyco08w2f4jRKjq9EtZrky+/u6x/WS8GhPQlJK
Rpt2HTsXlQZ6XADZXr91sQp2j+vJYVHu+JbJ6dltO+QXdinrfr7K9haYy3SzRQMHX3X1taOvv/Hm
226/8+77Zs9bcInd7FG7WV3loCHDq0aNHT+xZsq0GTNnzZ0/wG72vW4WfOqZ56wXNr6y9c13Gj74
+JPPDnz5uN3sqN3s8PKVq831GzZv2ba9vnHn7r37Dz2mm22Acl+POChVP6tf1WkAEAiHaPBAAiRB
CmRAG2gHHaEzFKkfNNRG6KZUUDfooo5rSXMKFDCE6eDhhnhoqRNrOmRDW+igo2KhOubg19r498EF
0Av6wSUwEAbDVXA1XAuj4Xq4EW6G2+B2uBPuhh4O/pxm/JlwPvSEvjAAKmEQDNExtwpGwVgYDxOh
BqbANJgB3R38z238T2ABLIJH4HF4Cp6B58CCF2AjvAJb4U14BxrgA/gY5jn4+5rxd8N8qIOl8Bgs
h5WwGkxYDxtgM2yBbbAd6qERdsJcGx87aXxsB1/qKP0d/AA/w69wGgEFwzEaPZiASZiCGdgGDtj4
6HPwsS0cgsNwBI7BcTgJp1AhYxhGoRvjsSUmYzpmw34Hf6qNfxsWYSkGsAdegL2wH16CA3EwXoVX
47U4Gq/HG/Fm7Ozg39GMX4OF2AXLsDuejz2xLw7AShyEQ3A4VuEoHIvjcSLmO/g7bPx38G68D2fj
PFyAi/ARfByfwmfwObTwBdyIr+BWfBPvdPDfb8bfjjNwJs7CuTgf63ApPobLcSWuRhPX4wbcjFtw
G06z8SlV41MSfoyf4Gd4AL/EIH6HP+DP+CueJiChcIomDyXgBzY+pTn41BJ34m7ci/vxEB7GI3gM
j+NJPEWKmMIoitwUj40O/g02/mhqQ+2oI3WmIiqlAPWgC6gX9aNLaCANpqvoarqWMhz8cc34oyib
2lIHyqdC6kJl1J3Op57UlwZQJQ2iITScqijdwX/Vxt9IN9NtdDvdSXfTfTSb5tECWkSP0OP0FD1D
z5FFL9CNDv5rzfgbaCLV0BSaRjNoJs2iuTSf6mgpPUbLaSWtJpPW03gbn2M0PofTm/QONdAH9DF9
Qp/RAfqSgvQd/UA/0690moGFttr43MLB5zDaRtupnhppJ+2mvbSfDtFhOkLH6DidpFOsmGmLgz/U
xh/MCZzEKZzBbbgdd+TOXMSlHOAefAH34n58CQ9kj4M/rBl/EMdzS07mdM7mttyB87mQu3AZd+fz
uSf35QFcyW4Hf42N/wxfy6P5er6Rb+bb+Ha+k+/m+3g2z+MFvIgf4cf5Kb7awX++GX8lV/EoHsvj
eSLX8BSexjN4Js/iuTyf63gpP8bLebiDH7Lxf+UXeCO/wlv5TX6HG/gD/pg/4c/4AH/JQf6Of+Cf
2XLwzzTjn+T1vIE38xbextu5nht5J+/mvbyfD/FhPsLH+DibNr701/jSS0TCJVo8kiBJkiIZ0kba
SUfpLEVSKgHpIReIHZg3ysUOvvQUljCJErfES0tJlnTJlrbSQfKlULpImXSX80U5+Mts/EUyUAbL
VXK1XCuj5Xq5UW6W2+R2uVPulvtktsyTBXKJg/9oM36dVMogGSLDpUpGyVgZLxOlRqbINJkhM2WW
zJX5MsDB/97GD8pT8ow8J5a8IBvlFdkqb8o70iAfyMfyiXwmB+RLedzBP9qMf1iWy0pZLaaslw2y
WbbINtku9dIoO2W37JX9ckic+G/Y8d8olZ/lVzltgCFGuBFteIwEI8lIMTKMNkY7o6PR2SgSJ/4b
zfHf6CLH5aScMpTBRpgRZbiNeKOlkWykG9lGW6ODkW8Uih3/YYPR3Wf2b9JNytX3UA618Dl2wqm4
g1LpBnqVY3gor+GQ9Jdl8r1apptY/SJthjJ1BMpgFuzFDjgF6ymZxtJmjuIhvJpPSV9ZKkfUUjvx
9XNbvSFPtzhHfQPnwP2wB9vjJHyXWtEY2sQRfAU/y79Jb1ks36jFNkEvh6CLOgxddKLZjW11ON1O
LXXQ2MBhemms5JPaAerksKqzCXq5rQsdgmL1FRTDPdCEOXgLvkWJNJJeZIMv46f5hFwoC+UrtdAm
uMAhKFSHoFDnqZ2YraPxNorXMWc9s15Zy/m49p/5ckjNtwkucFvnOgQF6qB+DpkOH2ImTsDXKZau
obWMXMFP8I9yrjwoB9WDNkEPhyBf7deJdho06nQyHrfooDmcTB0aBujldUy76FzZr+wkZvZwW+UO
QSf1OXSCqbADU/EGfJViaCitoRD352X8vZRLrXyuam2CgEPQQe3VuXwK1OuMNRY367g8RMe2Uzo+
LOUjehXMkr1qlk0QcFvnOATt1R5oD5PgXWyFY3ATRdAV9Cz9xr15MX8j58j9skfdbxOUOgRt1W4t
F2pgu06Ko3CDDv2DdPg8qUNQHR/WC22m7FYzbYJSt1XsEOSoJsiBW+AtTMSR+CIZdBk9TSf4Ql7I
X0mx3CNN6h6boMghyFY7tSKZCNt03q3C9Tq7VOoIfVxHufl8SK/lGbJTzbAJitxWgUOQqT6ETJgA
r2MsXoNrCamCnqAf+Vx+kA9KgUyXD9V0m6CzQ5CuGrXoGQ9bdGofjqZOYAN0EjimA+lc3q/DxTRp
VHaiNDu77cdX3SJV7dCPVzfAqxiDQ3ENhqg/LaPvuZxr+XPpJFNlh5pqE3R0CJJVvdZVY2GzVg9D
dAY+pbPYUjqiY/Us3qsj0hSpV1Nsgo5u+4cW3aKVehdawRjYhBF4BT6Lv1FvWkzf8Dl8P++R9jJJ
3lWTbIJ2DkFLtV1Lt1GwQQuUQTrJn9SJso4O63Qwk3froFcj21WNTdDObeU4BInqLUiEkfAiGngZ
Po0n6EJaSF9xMd/DTZIjt8hb6haboI1DEK+2aXVYBeu1BqrUOuK4zsXz6ZDOODN4p46rE2WbmmgT
tHFbmQ5BrHodYuEaWIuIFfgE/kjn0oN0kAt4On8omTJBXlcTbIIMh8CttmgBOhxMLbMGaKlyTKf7
ubRfJ7Vp3KhD93jZouxkbGa4rVSHIEa9CjEwFNZACPvjMvyeyqmWPudOPJV3SKrcIK+qG2yCFIcg
Sm3WGneI1omntNZaike0ophFe3XenML1OjuMlc1qrE2Q4rZaOQQRahNEwBXwLPyGvXExfkPn0P20
h9vzJH5XWskY2aTG2ARJDkGY2qBl9CAtRU9qOVeHh7VomUm7dWqu4e06AY2SDWqUTZDkthIdAkO9
CAZcBk/DCbwQF+JXVEz3UBPn8C38liTKSHlRjbQJEhwCVuu1Uq/Uave4Vozz8ZDWRTNop87+E3mb
znFVsl5V2QQJbivWIUC1FhAq4An4Ec/FB/EgFdB0+pAzeQK/LrFyjaxV19gEHodAKVM/DAzQgvqY
FqVzcb+WXtOoUQuM8bxFp9HhYio74ZsetxVjE0hIrVEh6A/L4Hssx1r8nDrRVNrBqXwDvyoxMlTW
qKE2QbRNIKfUav280Vdr9iNa987CvVrdTaF6rWHG8madqYfIajXEJoh2WxEOwW/qWfUb9IbF8A2e
g/fjHmpPk+hdbsVjeJNEyBXyrLrCJgh3CE6qleqkfuiog8NaWs/E3VpA1tB2LZNG8QYtBgbJSjXI
Jgh3W4ZDcEI9rU7AhbAQvsJivAebKIduobc4kUfyi2LIZfK0uswmEIfguFqujuvnmvlwSKv3GbhT
a9SJtE0rsSper/VGpSxXlTaBuC10CH5UT6gf4Vx4EA5iAU7HDymTJtDrHMvX8FpBqZAnVIVNAA7B
MfWYOgbdYS7sx3ycho2UTuNpC7t5OJuiZIA8pmxRsdHooZyfpiUhqyjrf/FocxbvLN5ZvLN4Z/H+
X+C5TlQkVMTrb8Ifxz9duY6crXi24tmK+u+uiv/mZ+R/t2L1/wHEs8acNeZ/jviv/QJ+Fa4yVRdV
pcxInxnrtzIwaMbrRzKfpSRopvqsTvbumVKfGd5kiTtoP0olQZ5V6AmuTSq09z4ktQjPM+MK7J+r
LAn3xK7zxGZ1cjYShGfYO1QKS0tN5THb2TsJMgqcXQ9ZGa6sBH+CvyjD/haUFAegMCcrw6Nv/sMr
+J6Qmpmfnxk6OLm6eiT4Qw3grwyU1QwMVVdXw9I/3sVPhlTnXXx6jfMunu7Oz67KzD9Q3dBQPbKs
bGDVwEmhkSNP+/94Gz/bfhsfmBw6WPvn23hSGtblxwYVpVqpXFWuzNZ6GKL9fiszPGgZ8QUF9gWY
bX1mWpOV4wmaOW5nK1ZLfdnSbbG+jPAErXbOs6DKzM0pLC4p8CZ6411sF0r+LMm/S/GGsWllWVlN
ZWVZGZSdvmploKws8EchvPLPQg34ywIra8Au2fdW2v//j+uVNc7eG2U0cIPyqs6qlzLTfKbP72wC
aVGwNs1lz1Zakp4t5bNy7S0hBT4zs8ni6KDJbitOd75DdNDy63Mce2LXpqTmlzbv08k0vJ74RK/f
nj09LxkFxUUePWEqMyc3p8iTlZlT4tHW6PuJup6eXYD34lMhOWFJXhnEtc4GMyE5Ne7UxnM6ud1F
oxdC7z6jmUfPh4WjQjeHRrBKTTi9SNcvaz93f2JqAlbHpf+uWrZMSgFVNwqrx/Tps3DM6UWj6kKm
0nME6ozfpbTfkspTPVSRMrvoOTKCJvms1hQ0w3xWB9G2nesz85qsgtigdZ69Uy2stfbMzgWBcmdL
Sxt/URYU5trbj1zecvAnem0/iwFXvEt7ZXnzVh1tpXbNEnDc0G3/18jKzNYmu2OLs2nxokWwZsiE
0MkJw5IXt5gyeHDrjpPjeyakLpIojoiYnBAWFRFRgKEXl9ZCytRAINA4u/aRZaFD9XoutfsNWY7x
t/SrqBg2K+GKodCqQ88h5RE9I6TfRX5ODo9IuDA9KiyybykGApNC+2tD2+fOcdrNmQtdIHnHlD/2
KTXPdZIu/eNE4My/H/Qz/zTARHpxcfP+rSSVY++qAZ/lCg/am2vi9EmviIzw5v103GS1SNFrIly7
vLfNHxdt/+37JcUFtrPjf7j+X0sGVzru7jj2Xxz/L9cQanA8XK+PALb/i+NjXlnZnwWl/gt5oj+u
AAAAeNqtk71O21AUx/+2AySN2oaqSqsO1WWpQIotx1EEKO1AmJAliogCLB2SYBILJ04dJyLP0qEz
S4cOfYbuXfsWvED/vhwR6Kcqkej6/M695/P6GMBz4xUMXP+2kQobKOO7sIkVwxK2sGa8Fc6hbHwU
XsJr0xVeRtn8IJzHA/OrcAGPzSvhIgrWM+ESHlpvhFeRt94xi5ErUEt0xowNVPBJ2MQjXAlbaBpF
4RwqxnvhJVwYX4SXUTGHwnk8NT8LF/DS/CZcxBPLEi7hhbUmvIqS5WMXMcaYs54QfQx4SwqXXB5c
VFEjdXmq0IKPJqVP+xGtpvRQWEcbJ9iAQ95BxL+6FWmitYAyoJzxeUpL7MbjeRL2B6m6VJ5branu
XLX8pvLjUTpN1Hr7ZMNRO1GktNFEJcEkSGbBKV1vZ7exh57WQ0qb0TPN1pWPcUFjHc/e68WjsGcH
vdj23DH3D2naZ4gInew1HAb9adQhVFmcq9tusC0fx9gn/VfKquO61UbbP95v/Cn7vbRwpG90QrfM
Wd0p/YDvSom22B3QMpVksxsPB5t8NjDkVZwzZmZzxt2Ikbssw0Fdry1OgsdvCEdBMgnjkbpu9KCl
KDQO4pRFzrIDZ9NtDDvnQZyeOVHY9Zy6U9+qedv31PvvJhGL+cE/RhU/jRrY+MLO4ZpyS587yfRv
Nd+tEL92cFPzD/6NyO542m3MTQqDMBQE4DeJ1t9WwVu4SkxSdG09jBt33s+bWTGzdODxMTA8UXLn
PKSXp3TXQZRoKGgkSPFChhwFSlSo8cYHDdps39bFGEsdDfQbtWN0MJR7x+6WqOfecx885b/wi87T
H39SI4kAAAAAAAAB//8AAnjaY2BkYGDgA2IJBhBgYmAEQiEgZgHzGAAFEABFAAAAAAAAAQAAAADN
OPQUAAAAANS5P4cAAAAA1Lj5VQ==) format('woff');
  font-weight: normal;
  font-style: normal;
}
